*.o
*.a
*.lib
*.exe
makedepend
makeinclude

autom4te.cache
config.h
config.log
config.status
configure
fltk.list
fltk2-config
glut/fractals
test/CubeView
test/ansiwidget
test/arc
test/bitmap
test/boxtype
test/browser
test/button
test/buttons
test/cairo
test/callbacks
test/clock
test/color_chooser
test/cube
test/cursor
test/curve
test/demo
test/doublebuffer
test/drawing
test/drawtiming
test/editor
test/exception
test/file_chooser
test/fonts
test/fullscreen
test/gl_overlay
test/glpuzzle
test/hello
test/image
test/image_transform
test/inactive
test/input
test/keyboard
test/label
test/line_style
test/list
test/list_visuals
test/makedepend
test/mandelbrot
test/menu
test/message
test/monitors
test/navigation
test/output
test/pack
test/pixmap
test/progress
test/qubix
test/radio
test/resizable
test/resizealign
test/scroll
test/shape
test/sizes
test/subwindow
test/symbols
test/tabs
test/threads
test/tile
test/timer
test/utf
test/valuators
test/wizard
